@media screen and (max-width: 900px) {

  body {
    width: 90%;
  }

  header {
    text-align: center;
  }

  .Thesaurus {
    float: none;
    padding-bottom: 20px;
  }


  .Definition,
  .Thesaurus {
    width: 95%;
    margin: 20px auto;
    text-align: center;
    padding: 5px auto;
    position: relative;
    right: -2%;
  }

  input {
    width: 80%;
  }

  button {
    width: 60%;
  }

  button:hover {
    width: 60%;
  }

  img {
    position: relative;
    right: 20%;
  }
}