<!DOCTYPE html>
<html ng-app='wordNMeaningApp'>
  <head>
    <meta charset='utf-8'>
    <title>Word 'N' Meaning</title>
    <link rel='stylesheet' href='css/stylesheet/main.css'>
    <script type="text/javascript" src="scripts/vendor/angular.js"></script>
    <script type="text/javascript" src="scripts/vendor/angular-mocks.js"></script>
    <script type="text/javascript" src="scripts/vendor/jquery-2.1.1.js"></script>
  </head>
  <body>
    <header>This is my application</header>
    <section>
      <form>
        <label for="inputBox">Enter Word Here:</label>
        <input type='text' id='inputBox' ng-model='query'>
      </form> 
      <div id='container'>
        <div class="Definition" ng-controller='wordDefinitionController'>  
          <button ng-click='definitionSearch()'>Definition</button>
          <dl>
            <dt ng-bind='wordResponses[0].word'></dt>
            <dd ng-repeat='wordResponse in wordResponses'>
              <p>
                <span ng-bind='wordResponse.text'></span><br>
                <span ng-bind='wordResponse.attributionText'></span>
              </p>
            </dd>
          </dl>
        </div>
      <div class="Thesaurus">
        <button ng-controller='wordThesaurusController' ng-click='thesaurusSearch(query)'>Thesaurus</button></div>
      </div>

    </section>
    <footer></footer>
    <script type="text/javascript" src='scripts/myScripts/controller.js'></script>
    <script type="text/javascript" src='scripts/myScripts/app.js'></script>
  </body>
</html>