<!DOCTYPE html>
<html ng-app='appModule'>
  <head>
    <meta charset='utf-8'>
    <title>Word 'N' Meaning</title>
    <link rel="stylesheet" type="text/css" href='css/vendor/bootstrap.css'>
    <link rel='stylesheet' href='css/stylesheet/main.css'>
    <link href='http://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="scripts/vendor/angular.js"></script>
    <script type="text/javascript" src="scripts/vendor/angular-mocks.js"></script>
    <script type="text/javascript" src="scripts/vendor/jquery-2.1.1.js"></script>
  </head>
  <body>
    <header>
      <h1>Word 'N' Meaning</h1>
    </header>
    <section ng-controller='definitionAndThesaurus' >
      <form>
        <label for="inputBox">Enter Word Here:</label><br>
        <input type='text' id='inputBox' ng-model='query'><br>
        <button ng-click='search()'>DEFINITION--THESAURUS</button>
        <p class='alert'>Please make a valid entry</p>
      </form> 
      <div id='container'>
        <div class="Definition">
          <dl>
            <dt><h3 ng-bind='wordResponses[0].word'></h3></dt>
            <dd ng-repeat='wordResponse in wordResponses' class='definitions'>
              <p>
                <span ng-bind='wordResponse.text'></span><br>
                <span ng-bind='wordResponse.attributionText' class='attribution'></span>
              </p>
            </dd>
          </dl>
        </div>
        <div class="Thesaurus">
          <table class='table table-bordered table-condensed'>
            <tr>
              <th>Part Of Speech</th>
              <th>Synonym</th>
              <th>Antonym</th>
            </tr>
            <tr class='noun'>
              <td>Noun</td>
              <td><span ng-repeat='synonym in nounSynonym'>{{synonym}}, </span></td>
              <td><span ng-repeat='antonym in nounAntonym'>{{antonym}}, </span></td>
            </tr>
            <tr class='verb'>
              <td>Verb</td>
              <td><span ng-repeat='synonym in verbSynonym'>{{synonym}}, </span></td>
              <td><span ng-repeat='antonym in verbAntonym'>{{antonym}}, </span></td>
            </tr>
            <tr class='adverb'>
              <td>Adverb</td>
              <td><span ng-repeat='synonym in adverbSynonym'>{{synonym}}, </span></td>
              <td><span ng-repeat='antonym in adverbAntonym'>{{antonym}}, </span></td>
            </tr>
            <tr class='adjective'>
              <td>Adjective</td>
              <td><span ng-repeat='synonym in adjectiveSynonym'>{{synonym}}, </span></td>
              <td><span ng-repeat='antonym in adjectiveAntonym'>{{antonym}}, </span></td>
            </tr>
          </table>

        </div>
      </div>

    </section>
    <footer>&copy 2014 Emmanuel Isaac</footer>
    <script type="text/javascript" src='scripts/myScripts/app.js'></script>
    <script type="text/javascript" src='scripts/myScripts/controller.js'></script>
  </body>
</html>